.form {
    border: 1px solid #000;
    padding: 15px;
    margin: 80px auto;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form input {
    width: 150px;
    font-size: 16px;
    outline: none;
    margin-bottom: 15px;
}

.form h1 {
    text-transform: uppercase;
}

img{
    width: 100px;
    height: 100px;
    background-size: contain;
    border-radius: 50%;

}
.photoPrev{
    display: flex;
    justify-content: center;
    align-items: center;
}