.container {
    width: 450px;
    margin: 50px auto;
    border: 2px solid #000;
    border-radius: 3px;
    padding: 15px;
}

.container h3 {
    display: inline-block;
    text-transform: uppercase;
    margin: 10px;
}

.addNewContact {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    background: #7ec27d;
    padding: 8px 15px;
    color: #fff;
    outline: none;
}
.addNewContact:hover {
box-shadow: 1px 1px 5px  0px rgba(10, 10, 10, 0.8);
}

.dishesList {
    border: 1px solid #000;
    padding: 10px;
}
