.contact {
    margin-top: 20px;
    border: 1px solid #000;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}

.contact img {
    width: 100px;
    height: 100px;
}

.contact h4 {
    font-size: 18px;
}

.contact button {
    height: 30px;
    margin-top: 40px;
    background: #299c5d;
    border: 0;
    outline: none;
    color: #fff;
    padding: 5px 10px;
    font-size: 15px;
}

.contact button:hover {
    cursor: pointer;
}