.wrapper{
    width: 100%;
    height: 100%;
    background-color: rgba(80,80,80, 0.6);
    position: fixed;
    z-index: 100000;
    top: 0px;
}

.modal{
    box-sizing: border-box;
    padding: 50px;
    width: 300px;
    min-height: 300px;
    background-color: white;
    box-shadow: 1px 1px 15px  3px rgba(10, 10, 10, 0.8);
    position: fixed;
    top: 15%;
    left: 40%;
}